Workflows/CCoE-Chat-Ops.json
{
  "name": "CCoE-Ops",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent in n8n acting as a Cloud Center of Excellence (CCoE) Operations Assistant.\n\nYour primary purpose is to:\n\nCollect all information required to execute predefined automations (tools), and\nSafely trigger those automations via Azure DevOps pipelines,\nAnswer user questions only about these 5 automations and their usage.\nYou are not a general-purpose assistant. You only support interactions directly related to these 5 tools.\n\n1. Role & Scope\nAct as a CCoE Operations assistant focused on:\nHelping users understand and use the 5 available automations.\nCollecting and validating required parameters for these automations.\nExecuting the correct automation once everything is ready and confirmed.\nExplaining outputs and next steps after execution.\nYou must only answer questions that are:\nAbout one or more of the 5 tools (what they do, how to use them, required inputs, meaning of outputs, troubleshooting their execution), or\nNeeded to collect/clarify information required to run these tools.\nIf a user asks something that is not related to these 5 tools or their execution, politely refuse and state that you are limited to assisting with these specific automations.\n\nExample refusal:\n\nI’m specialized in assisting with the available CCoE automations. Your question is outside that scope, so I’m not able to help with it. If you’d like, I can help you prepare or run one of the existing automations.\n\n2. Tools & Automations\nYou have access to 5 tools.\nEach tool triggers a separate Azure DevOps pipeline.\nA tool can only be executed after all required parameters have been provided by the user.\nUse the tool definitions provided in n8n (names, descriptions, and parameter schemas) as the source of truth for:\n\nWhat each tool does.\nWhich parameters are required or optional.\nParameter types and constraints.\nYou may describe tools to the user in clear language, for example:\n\nWhat the tool/pipeline does at a high level.\nWhen and why it should be used.\nWhat inputs it requires and what outputs/results to expect.\n3. Handling User Requests\nFor any user request related to the automations:\n\nIdentify the relevant tool(s)\nDetermine which of the 5 tools matches the user’s intent.\nIf none of the tools match, explain that no suitable automation exists.\nExplain and clarify\nIf the user asks about a tool:\nExplain what it does, what it requires, and what it will change or produce.\nIf the user is unsure which tool to use:\nAsk clarifying questions about their goal and then suggest the appropriate tool(s).\nCollect required parameters\nUse the tool’s schema to determine what inputs are required.\nAsk the user for any missing parameters in a structured, clear way.\nValidate inputs where possible (e.g., environment names, branches, IDs, formats).\nIf the user provides incomplete or ambiguous information, ask follow-up questions.\nConfirm before execution\nBefore calling any tool, summarize:\nWhich tool will be run.\nWhat it will do in practical terms.\nAll parameter values that will be used.\nAsk for explicit confirmation, e.g.:\nPlease confirm that I should execute [Tool Name] with these parameters: [list].\n\nOnly execute the tool after receiving clear confirmation.\nExecute and interpret results\nCall the tool via n8n once all required data is collected and confirmed.\nAfter execution:\nSummarize the outcome (success, failure, warnings).\nExplain any key fields in the output or logs that are returned.\nIf there are errors, describe them in simple terms and suggest what the user might check or correct (input parameters, missing approvals, etc.).\nDo not invent results or behavior; rely only on:\n\nThe tool descriptions, and\nThe actual outputs returned by the tools.\n4. Interaction Style\nBe clear, concise, and professional, like a helpful operations assistant.\nKeep every response focused on:\nExplaining or using the 5 tools, or\nCollecting information needed to run them, or\nInterpreting their outputs.\nWhen asking for information, be specific:\nName each required parameter.\nIndicate if it is mandatory to proceed.\nFor potentially impactful actions (e.g., production deployments, major changes):\nClearly call out that the action may affect critical systems.\nDouble-check key parameters (environment, target system, etc.).\nAlways require explicit user confirmation.\nYour priorities:\n\nStay strictly focused on the 5 available automations (tools) and their execution.\nCollect and validate all required parameters for the requested automation.\nExecute tools only after explicit confirmation and then clearly explain the results.\nAnswer all user questions that are directly about these 5 tools, their requirements, and their outputs.\nDON'T CHANGE ANYTHING FROM USER INPUT, DON'T TRY TO FIND ALTERNATIVE SOLUTIONS. JUST COLLECT THE REQUIREMENTS FROM USER AND EXECUTE THE TOOLS."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3888,
        -992
      ],
      "id": "23192897-3dc6-4e18-954f-00cdb6bbbb2b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "q9YuZmwZVcqOGs38",
          "mode": "list",
          "cachedResultUrl": "/workflow/q9YuZmwZVcqOGs38",
          "cachedResultName": "CCoE-Operations-Automation — Sub-NextAvailableSubnet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "targetNetwork": "={{ $fromAI('targetNetwork', ``, 'string') }}",
            "targetMask": "={{ $fromAI('targetMask', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "targetNetwork",
              "displayName": "targetNetwork",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "targetMask",
              "displayName": "targetMask",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -3936,
        -672
      ],
      "id": "3c3bb58a-a66c-4dab-ad3a-20b160b9266e",
      "name": "AvailableSubnets"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openai-automations-swe-poc.openai.azure.com/openai/deployments/whisper/audio/translations?api-version=2024-06-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4592,
        -1232
      ],
      "id": "9305cb78-8af6-49d5-95a1-9965235dc7db",
      "name": "Transcribe audio with Azure OpenAI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "E42tLHuYegYeZ2ay",
          "name": "OpenAI-Whisper"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -4352,
        -1008
      ],
      "id": "ffd68872-56fe-4e25-b75f-43fc1462cc6e",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8295f7c3-996e-456b-8b6c-92a2b0c2e2a7",
              "name": "text",
              "value": "={{ $('chat-ui-trigger').item.json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4368,
        -1232
      ],
      "id": "9d116787-b339-43ef-a0fc-c26b2a16366d",
      "name": "Set audio",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8295f7c3-996e-456b-8b6c-92a2b0c2e2a7",
              "name": "text",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4560,
        -992
      ],
      "id": "bfe705b6-b875-4aad-a1c4-52e5c3ef10df",
      "name": "Set chat"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f98b9fb1-018e-4c1e-8710-139e8e44cc0a",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "684f9482-d331-4830-a2ed-1047afba2f38"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96e5d539-0d44-44ea-b073-9150666457c1",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attachment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4816,
        -1008
      ],
      "id": "15a16b47-2859-4f5f-bb0b-efa118b733bc",
      "name": "Voice/Chat"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gddNelxiEfojFfFY",
          "mode": "list",
          "cachedResultUrl": "/workflow/gddNelxiEfojFfFY",
          "cachedResultName": "CCoE-Operations-Automation — New/Upd-DNS-Entries"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "TTL": "={{ $fromAI('TTL', ``, 'number', 3600) }}",
            "ZoneName": "={{ $fromAI('ZoneName', ``, 'string', 'dei.gr') }}",
            "RecordType": "={{ $fromAI('RecordType', ``, 'string') }}",
            "RecordName": "={{ $fromAI('RecordName', ``, 'string') }}",
            "RecordValue": "={{ $fromAI('RecordValue', ``, 'string') }}",
            "ReverseZoneName": "={{ $fromAI('ReverseZoneName', ``, 'string') }}"
          },
          "matchingColumns": [
            "parameters"
          ],
          "schema": [
            {
              "id": "ZoneName",
              "displayName": "ZoneName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordType",
              "displayName": "RecordType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordName",
              "displayName": "RecordName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RecordValue",
              "displayName": "RecordValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ReverseZoneName",
              "displayName": "ReverseZoneName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TTL",
              "displayName": "TTL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -3424,
        -672
      ],
      "id": "669a4d58-fda1-48c8-b80e-d9ec0fd4823b",
      "name": "DNS-entries"
    },
    {
      "parameters": {
        "model": "CCoE-Ops-gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -4192,
        -672
      ],
      "id": "ded5bd9c-b1fe-494c-8a17-850c708bb4f7",
      "name": "Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Uv5coSv1JQ01Fhm4",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -5040,
        -736
      ],
      "id": "920c35ba-3aab-418f-959c-9c7a648bac81",
      "name": "Wait1",
      "webhookId": "1a419a7d-80da-40c9-bfaa-39f971755980",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8295f7c3-996e-456b-8b6c-92a2b0c2e2a7",
              "name": "text",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4592,
        -736
      ],
      "id": "57b8615c-02eb-48ac-8cb6-c2964098bf02",
      "name": "Set audio1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -4816,
        -736
      ],
      "id": "3500814d-61b5-47a9-8b0a-23cf2e7f1df5",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5040,
        -1232
      ],
      "id": "380f9ab7-d92a-4e90-b1b6-f67cda2e1f72",
      "name": "Download voice",
      "webhookId": "8b826288-7a45-4a12-bbf7-e07462532efb",
      "credentials": {
        "telegramApi": {
          "id": "a4nZJyWYtdONF4Kw",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4816,
        -1232
      ],
      "id": "bc89148c-7b16-4572-b8d0-3892e93a7e92",
      "name": "Wait",
      "webhookId": "1a419a7d-80da-40c9-bfaa-39f971755980",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('chat-ui-trigger').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4064,
        -672
      ],
      "id": "9f8111a6-d9b8-4a32-ae59-8fb337a6640f",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-ui-trigger",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5264,
        -992
      ],
      "id": "fff73251-f827-4ea1-9762-547020765d8d",
      "name": "chat-ui-trigger",
      "webhookId": "8cbe79ee-c1db-4488-9044-0b03b2b6c799",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=\"The pipeline execution has been started! I will inform you upon completion.\"",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -5040,
        -992
      ],
      "id": "46d0875f-50bc-43ea-81dc-d0fcf7b4adef",
      "name": "Respond to Webhook1",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"runID\": \"{{ $json.runID }}\",\n    \"pipelineID\": \"{{ $json.pipelineID }}\",\n    \"status\": \"In Progress\",\n    \"answer\": {{ JSON.stringify($json.answer) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3200,
        -992
      ],
      "id": "8897f7d8-933e-4e9c-a02d-2d81033db87a",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dBq09S1nyucG4tGH",
          "mode": "list",
          "cachedResultUrl": "/workflow/dBq09S1nyucG4tGH",
          "cachedResultName": "CCoE-Operations-Automation — Sub-DelAppReg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "AppRegistrationName": "={{ $fromAI('AppRegistrationName', `App Registration Name [0-9a-zA-Z-]`, 'string', 'AppRegDefault-tobedeleted') }}",
            "AppRegistrationClientId": "={{ $fromAI('AppRegistrationClientId', `App Registration Client ID 00000000-0000-0000-0000-000000000000`, 'string') }}"
          },
          "matchingColumns": [
            "parameters"
          ],
          "schema": [
            {
              "id": "AppRegistrationName",
              "displayName": "AppRegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "AppRegistrationClientId",
              "displayName": "AppRegistrationClientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -3808,
        -672
      ],
      "id": "406712ce-15d5-46de-8694-214975636c9a",
      "name": "Delete Application Registration"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vRPzbjIHfca6MxiX",
          "mode": "list",
          "cachedResultUrl": "/workflow/vRPzbjIHfca6MxiX",
          "cachedResultName": "CCoE-Operations-Automation — Sub-UpdAppReg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "AppRegistrationName": "={{ $fromAI('AppRegistrationName', `App Registration Name [0-9a-zA-Z-]`, 'string', 'AppRegDefault-tobedeleted') }}",
            "AppRegistrationClientId": "={{ $fromAI('AppRegistrationClientId', ``, 'string') }}",
            "RedirectCreate": "={{ $fromAI('RedirectCreate', ``, 'string', 'Create/Update') }}",
            "RedirectType": "={{ $fromAI('RedirectType', ``, 'string') }}",
            "RedirectURI": "={{ $fromAI('RedirectURI', ``, 'string') }}",
            "EnableApiPermission": "={{ $fromAI('EnableApiPermission', ``, 'string') }}",
            "EnableAdminConsent": "={{ $fromAI('EnableAdminConsent', ``, 'string') }}",
            "RemoveAssignmentType": "={{ $fromAI('RemoveAssignmentType', ``, 'string', 'User') }}",
            "RemoveUserAssignment": "={{ $fromAI('RemoveUserAssignment', ``, 'string') }}",
            "Functionality": "={{ $fromAI('Functionality', ``, 'string') }}",
            "Owner": "={{ $fromAI('Owner', ``, 'string') }}",
            "Workload": "={{ $fromAI('Workload', ``, 'string') }}",
            "Team": "={{ $fromAI('Team', ``, 'string') }}",
            "ITOwner": "={{ $fromAI('ITOwner', ``, 'string') }}",
            "TenantName": "={{ $fromAI('TenantName', ``, 'string') }}",
            "enableSecretCreation": "={{ $fromAI('enableSecretCreation', ``, 'string') }}",
            "secretName": "={{ $fromAI('secretName', ``, 'string') }}",
            "SubscriptionID": "={{ $fromAI('SubscriptionID', ``, 'string') }}",
            "ResourceGroupName": "={{ $fromAI('ResourceGroupName', ``, 'string') }}",
            "KeyVaultName": "={{ $fromAI('KeyVaultName', ``, 'string') }}",
            "GroupAssignment": "={{ $fromAI('GroupAssignment', ``, 'string') }}",
            "UserAssignment": "={{ $fromAI('UserAssignment', ``, 'string') }}",
            "enableGroupAssignment": "={{ $fromAI('enableGroupAssignment', ``, 'boolean') }}",
            "RemoveAssignment": "={{ $fromAI('RemoveAssignment', ``, 'boolean', false) }}"
          },
          "matchingColumns": [
            "parameters"
          ],
          "schema": [
            {
              "id": "AppRegistrationName",
              "displayName": "AppRegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "AppRegistrationClientId",
              "displayName": "AppRegistrationClientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RedirectCreate",
              "displayName": "RedirectCreate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RedirectType",
              "displayName": "RedirectType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RedirectURI",
              "displayName": "RedirectURI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EnableApiPermission",
              "displayName": "EnableApiPermission",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EnableAdminConsent",
              "displayName": "EnableAdminConsent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "enableGroupAssignment",
              "displayName": "enableGroupAssignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "GroupAssignment",
              "displayName": "GroupAssignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "UserAssignment",
              "displayName": "UserAssignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RemoveAssignment",
              "displayName": "RemoveAssignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "RemoveAssignmentType",
              "displayName": "RemoveAssignmentType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RemoveUserAssignment",
              "displayName": "RemoveUserAssignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Functionality",
              "displayName": "Functionality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Workload",
              "displayName": "Workload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Team",
              "displayName": "Team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ITOwner",
              "displayName": "ITOwner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TenantName",
              "displayName": "TenantName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "enableSecretCreation",
              "displayName": "enableSecretCreation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "secretName",
              "displayName": "secretName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "SubscriptionID",
              "displayName": "SubscriptionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ResourceGroupName",
              "displayName": "ResourceGroupName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "KeyVaultName",
              "displayName": "KeyVaultName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -3680,
        -672
      ],
      "id": "a3699dd3-8047-45a4-aa85-36f2f55370a5",
      "name": "Update Application Registration"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NxVxOOwS00dc2iW4",
          "mode": "list",
          "cachedResultUrl": "/workflow/NxVxOOwS00dc2iW4",
          "cachedResultName": "CCoE-Operations-Automation — Sub-NewAppReg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "AppRegistrationName": "={{ $fromAI('AppRegistrationName', ``, 'string', 'AppRegDefault-tobedeleted') }}",
            "RedirectType": "={{ $fromAI('RedirectType', ``, 'string', 'Web') }}",
            "RedirectURI": "={{ $fromAI('RedirectURI', ``, 'string', null) }}",
            "EnableApiPermission": "={{ $fromAI('EnableApiPermission', ``, 'string', 'false') }}",
            "EnableAdminConsent": "={{ $fromAI('EnableAdminConsent', ``, 'string', 'false') }}",
            "GroupAssignment": "={{ $fromAI('GroupAssignment', ``, 'string', 'User') }}",
            "EnableGroupAssignment": "={{ $fromAI('EnableGroupAssignment', ``, 'boolean', false) }}",
            "UserAssignment": "={{ $fromAI('UserAssignment', ``, 'string', 'user@example.com') }}",
            "Functionality": "={{ $fromAI('Functionality', ``, 'string', 'Functionality') }}",
            "Owner": "={{ $fromAI('Owner', ``, 'string', 'Owner') }}",
            "Workload": "={{ $fromAI('Workload', ``, 'string', 'Workload') }}",
            "Team": "={{ $fromAI('Team', ``, 'string', 'Team') }}",
            "ITOwner": "={{ $fromAI('ITOwner', ``, 'string', 'ITOwner') }}",
            "TenantName": "={{ $fromAI('TenantName', ``, 'string', 'Public Power Corporation S.A.') }}",
            "SecretName": "={{ $fromAI('SecretName', ``, 'string','SecretName') }}",
            "SubscriptionID": "={{ $fromAI('SubscriptionID', ``, 'string', '57b93e97-c681-4993-acc0-7bdddb6450ba') }}",
            "ResourceGroupName": "={{ $fromAI('ResourceGroupName', ``, 'string', 'rg-appregistrationsecrets-weu') }}",
            "KeyVaultName": "={{ $fromAI('KeyVaultName', ``, 'string', 'kv-spsecrets-weu') }}"
          },
          "matchingColumns": [
            "parameters"
          ],
          "schema": [
            {
              "id": "AppRegistrationName",
              "displayName": "AppRegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RedirectType",
              "displayName": "RedirectType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "RedirectURI",
              "displayName": "RedirectURI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EnableApiPermission",
              "displayName": "EnableApiPermission",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EnableAdminConsent",
              "displayName": "EnableAdminConsent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "EnableGroupAssignment",
              "displayName": "EnableGroupAssignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "GroupAssignment",
              "displayName": "GroupAssignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "UserAssignment",
              "displayName": "UserAssignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Functionality",
              "displayName": "Functionality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Workload",
              "displayName": "Workload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Team",
              "displayName": "Team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ITOwner",
              "displayName": "ITOwner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TenantName",
              "displayName": "TenantName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "SecretName",
              "displayName": "SecretName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "SubscriptionID",
              "displayName": "SubscriptionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ResourceGroupName",
              "displayName": "ResourceGroupName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "KeyVaultName",
              "displayName": "KeyVaultName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -3552,
        -672
      ],
      "id": "d87fccf5-bf0c-432a-85fd-e52ec8faeb96",
      "name": "Create Application Registration"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DDq9PAQcN0t69RAy",
          "mode": "list",
          "cachedResultUrl": "/workflow/DDq9PAQcN0t69RAy",
          "cachedResultName": "CCoE-Operations-Automation — CCoE-Ops-Completion-Check"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runID": "={{ $json.runID }}",
            "pipelineID": "={{ $json.pipelineID }}"
          },
          "matchingColumns": [
            "runID"
          ],
          "schema": [
            {
              "id": "runID",
              "displayName": "runID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "pipelineID",
              "displayName": "pipelineID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2768,
        -992
      ],
      "id": "f6e847f4-b964-471c-937a-33b8cf5b5f43",
      "name": "Call 'CCoE-Ops-Completion-Check'"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{  \n  \"type\": \"automation_execution_status\",  \n  \"data\": {  \n    \"runID\": \"12345678\",  \n    \"pipelineID\": \"42\",  \n    \"status\": \"in_progress\",  \n    \"answer\": \"Pipeline 42 has been triggered successfully. Run ID: 12345678. Execution is now in progress.\"  \n  }  \n}  ",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4192,
        -880
      ],
      "id": "1cbb0b67-fe65-414c-8da8-03c7169af7ee",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "46c72412-f408-4e6c-a6a6-da7fec21e034",
              "leftValue": "={{ $json.pipelineID }}",
              "rightValue": "1314",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b938e7e4-e3d8-4547-9095-507be0d55fad",
              "leftValue": "={{ $json.pipelineID }}",
              "rightValue": "1491",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7ca81d3b-b0f8-4c3c-bf20-36f6b2453933",
              "leftValue": "={{ $json.pipelineID }}",
              "rightValue": "2839",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "424a9b03-3bba-4331-a816-dfcf08cc3ae5",
              "leftValue": "={{ $json.pipelineID }}",
              "rightValue": "2840",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3f755e93-f1d6-4546-9dca-9ecf2e6e6130",
              "leftValue": "={{ $json.pipelineID }}",
              "rightValue": "2841",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3040,
        -992
      ],
      "id": "67abe1af-4f07-4c8e-a86d-9edfced487ac",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "46c72412-f408-4e6c-a6a6-da7fec21e034",
              "leftValue": "={{ $json.output.data.pipelineID }}",
              "rightValue": "1314",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b938e7e4-e3d8-4547-9095-507be0d55fad",
              "leftValue": "={{ $json.output.data.pipelineID }}",
              "rightValue": "1491",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7ca81d3b-b0f8-4c3c-bf20-36f6b2453933",
              "leftValue": "={{ $json.output.data.pipelineID }}",
              "rightValue": "2839",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "424a9b03-3bba-4331-a816-dfcf08cc3ae5",
              "leftValue": "={{ $json.output.data.pipelineID }}",
              "rightValue": "2840",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3f755e93-f1d6-4546-9dca-9ecf2e6e6130",
              "leftValue": "={{ $json.output.data.pipelineID }}",
              "rightValue": "2841",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3600,
        -992
      ],
      "id": "3898041b-6b54-4be3-8546-2ae7522f9606",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f75b699-cebf-4bf2-86f4-be0364005a44",
              "name": "runID",
              "value": "={{ $json.output.data.runID }}",
              "type": "number"
            },
            {
              "id": "22e2131d-5a11-4ee6-8fd0-bdbc241ca152",
              "name": "pipelineID",
              "value": "={{ $json.output.data.pipelineID }}",
              "type": "number"
            },
            {
              "id": "d2476785-9a08-4e29-a08f-e2c38bab8720",
              "name": "status",
              "value": "",
              "type": "string"
            },
            {
              "id": "8295f7c3-996e-456b-8b6c-92a2b0c2e2a7",
              "name": "answer",
              "value": "={{ $json.output.data.answer }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3376,
        -1088
      ],
      "id": "74f816fc-7f2b-4494-b588-e6769d48ea31",
      "name": "Set - true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8295f7c3-996e-456b-8b6c-92a2b0c2e2a7",
              "name": "answer",
              "value": "={{ $json.output.data.answer }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3376,
        -912
      ],
      "id": "b921f54a-432d-42c0-834f-507b7113421f",
      "name": "Set - false"
    }
  ],
  "pinData": {},
  "connections": {
    "AvailableSubnets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio with Azure OpenAI": {
      "main": [
        [
          {
            "node": "Set audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set audio": {
      "main": [
        []
      ]
    },
    "Set chat": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Voice/Chat": {
      "main": [
        [],
        [
          {
            "node": "Set chat",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "DNS-entries": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set audio1": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Set audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download voice": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Transcribe audio with Azure OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "chat-ui-trigger": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Voice/Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Application Registration": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Application Registration": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Application Registration": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'CCoE-Ops-Completion-Check'",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Set - true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - true": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - false": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91ac7631-7bdb-4468-b454-b14c3fdc68bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2905781eaaed09b34ad7671f9b0a421a341a76a1ec3f9cd95a5aa14e665aca53"
  },
  "id": "f7LrV1xhq6wxW846",
  "tags": []
}