Workflows/New_Upd-DNS-Entries.json
{
  "name": "New/Upd-DNS-Entries",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"ZoneName\": \"\",\n  \"RecordType\": \"\",\n  \"RecordName\": \"\",\n  \"RecordValue\": \"\",\n  \"ReverseZoneName\": \"\",\n  \"TTL\": 3600\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        -64
      ],
      "id": "94186e59-c6ab-45dc-b885-69e78fd01677",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://login.microsoftonline.com/ce73e05e-1b4e-4df3-b69c-705b18aaeefe/oauth2/v2.0/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "dd76c3e3-42e9-4325-8e3f-04bf031a5a74"
            },
            {
              "name": "client_secret",
              "value": "OUR8Q~fv9OTV-jlXghk3p5na7Fr3iJVqZK-ZDaK9"
            },
            {
              "name": "scope",
              "value": "499b84ac-1321-427f-aa17-267ca6975798/.default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -64
      ],
      "id": "916267fa-1434-43cd-bbb0-150631c35530",
      "name": "Entra Get Access Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.azure.com/ppcsa/PPC%20-%20Automations/_apis/pipelines/1314/runs?api-version=7.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"resources\": {\n        \"repositories\": {\n            \"self\": {\n                \"refName\": \"refs/heads/main\"\n            }\n        }\n    },\n    \"templateParameters\": {\n        \"ZoneName\": \"\",\n        \"RecordType\": \"\",\n        \"RecordName\": \"\",\n        \"RecordValue\": \"\",\n        \"ReverseZoneName\": \"\",\n        \"TTL\": 3600\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -64
      ],
      "id": "62469b79-50cf-4ac6-a804-5bad00ca2ab9",
      "name": "DevOps Pipeline execution"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"runID\": {{ $json.id }},\n  \"pipelineID\": {{ $json.pipeline.id }},\n  \"status\": \"In progress\",\n  \"answer\": \"The execution of your request is in progress. I will update you upon completion.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -64
      ],
      "id": "729f041c-0df8-4d8b-a9d6-c4e0ab61c95b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Entra Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entra Get Access Token": {
      "main": [
        [
          {
            "node": "DevOps Pipeline execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevOps Pipeline execution": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2925f13a-443f-43e5-b631-99652b1d879b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2905781eaaed09b34ad7671f9b0a421a341a76a1ec3f9cd95a5aa14e665aca53"
  },
  "id": "gddNelxiEfojFfFY",
  "tags": []
}