Workflows/Sub-NextAvailableSubnet.json
{
  "name": "Sub-NextAvailableSubnet",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "targetNetwork"
            },
            {
              "name": "targetMask"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        -272
      ],
      "id": "7f7bf79d-15d2-4379-af77-e6c741af7ccd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://login.microsoftonline.com/ce73e05e-1b4e-4df3-b69c-705b18aaeefe/oauth2/v2.0/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "dd76c3e3-42e9-4325-8e3f-04bf031a5a74"
            },
            {
              "name": "client_secret",
              "value": "OUR8Q~fv9OTV-jlXghk3p5na7Fr3iJVqZK-ZDaK9"
            },
            {
              "name": "scope",
              "value": "499b84ac-1321-427f-aa17-267ca6975798/.default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        -272
      ],
      "id": "55991f7c-7301-4a4d-b86c-76a7c5806f42",
      "name": "Entra Get Access Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.azure.com/ppcsa/PPC%20-%20Automations/_apis/pipelines/1491/runs?api-version=7.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"resources\": {\n        \"repositories\": {\n            \"self\": {\n                \"refName\": \"refs/heads/main\"\n            }\n        }\n    },\n    \"templateParameters\": {\n        \"targetNetwork\": \"{{ $('When Executed by Another Workflow').item.json.targetNetwork }}\",\n        \"targetMask\": \"{{ $('When Executed by Another Workflow').item.json.targetMask }}\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        -272
      ],
      "id": "4b8131c3-0d1c-4905-b675-26ad006c1cf6",
      "name": "DevOps Pipeline execution"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"runID\": {{ $json.id }},\n  \"pipelineID\": {{ $json.pipeline.id }},\n  \"status\": \"In progress\",\n  \"answer\": \"The execution of your request is in progress. I will update you upon completion.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -272
      ],
      "id": "487e4049-5e8f-4d68-b4a7-3c045c90f158",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Entra Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entra Get Access Token": {
      "main": [
        [
          {
            "node": "DevOps Pipeline execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevOps Pipeline execution": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "153e5ce3-d5e1-4060-81a9-16d0e76ff1c4",
  "meta": {
    "instanceId": "2905781eaaed09b34ad7671f9b0a421a341a76a1ec3f9cd95a5aa14e665aca53"
  },
  "id": "q9YuZmwZVcqOGs38",
  "tags": []
}