Workflows/Sub-NewAppReg.json
{
  "name": "Sub-NewAppReg",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{  \n    \"AppRegistrationName\": \"\",   \n    \"RedirectType\": \"\",  \n    \"RedirectURI\": \"\",  \n    \"EnableApiPermission\": \"\",  \n    \"EnableAdminConsent\": \"\",  \n    \"EnableGroupAssignment\": false,  \n    \"GroupAssignment\": \"\",  \n    \"UserAssignment\": \"\",  \n    \"Functionality\": \"\",  \n    \"Owner\": \"\",  \n    \"Workload\": \"\",  \n    \"Team\": \"\",  \n    \"ITOwner\": \"\",  \n    \"TenantName\": \"\",  \n    \"SecretName\": \"\",  \n    \"SubscriptionID\": \"\",  \n    \"ResourceGroupName\": \"\",  \n    \"KeyVaultName\": \"\"  \n  }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -944,
        -272
      ],
      "id": "a80a7aef-2273-4725-a8de-3222fed768e4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://login.microsoftonline.com/ce73e05e-1b4e-4df3-b69c-705b18aaeefe/oauth2/v2.0/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "dd76c3e3-42e9-4325-8e3f-04bf031a5a74"
            },
            {
              "name": "client_secret",
              "value": "OUR8Q~fv9OTV-jlXghk3p5na7Fr3iJVqZK-ZDaK9"
            },
            {
              "name": "scope",
              "value": "499b84ac-1321-427f-aa17-267ca6975798/.default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        -272
      ],
      "id": "6d3d1b74-2e2f-4521-9b33-d6d8ef139dd1",
      "name": "Entra Get Access Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.azure.com/ppcsa/PPC%20-%20Automations/_apis/pipelines/2839/runs?api-version=7.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"resources\": {\n        \"repositories\": {\n            \"self\": {\n                \"refName\": \"refs/heads/create-app-registration\"\n            }\n        }\n    },\n    \"templateParameters\": {\n    \"AppRegistrationName\": \"{{ $('When Executed by Another Workflow').item.json.AppRegistrationName }}\",   \n    \"RedirectType\": \"{{ $('When Executed by Another Workflow').item.json.RedirectType }}\",  \n    \"RedirectURI\": \"{{ $('When Executed by Another Workflow').item.json.RedirectURI }}\",  \n    \"EnableApiPermission\": \"{{ $('When Executed by Another Workflow').item.json.EnableApiPermission }}\",  \n    \"EnableAdminConsent\": \"{{ $('When Executed by Another Workflow').item.json.EnableAdminConsent }}\",  \n    \"EnableGroupAssignment\": \"{{ $('When Executed by Another Workflow').item.json.EnableGroupAssignment }}\",  \n    \"GroupAssignment\": \"{{ $('When Executed by Another Workflow').item.json.GroupAssignment }}\",  \n    \"UserAssignment\": \"{{ $('When Executed by Another Workflow').item.json.UserAssignment }}\",  \n    \"Functionality\": \"{{ $('When Executed by Another Workflow').item.json.Functionality }}\",  \n    \"Owner\": \"{{ $('When Executed by Another Workflow').item.json.Owner }}\",  \n    \"Workload\": \"{{ $('When Executed by Another Workflow').item.json.Workload }}\",  \n    \"Team\": \"{{ $('When Executed by Another Workflow').item.json.Team }}\",  \n    \"ITOwner\": \"{{ $('When Executed by Another Workflow').item.json.ITOwner }}\",  \n    \"TenantName\": \"{{ $('When Executed by Another Workflow').item.json.TenantName }}\",  \n    \"SecretName\": \"{{ $('When Executed by Another Workflow').item.json.SecretName }}\",  \n    \"SubscriptionID\": \"{{ $('When Executed by Another Workflow').item.json.SubscriptionID }}\",  \n    \"ResourceGroupName\": \"{{ $('When Executed by Another Workflow').item.json.ResourceGroupName }}\",  \n    \"KeyVaultName\":  \"{{ $('When Executed by Another Workflow').item.json.KeyVaultName }}\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        -272
      ],
      "id": "5b122e0c-74e3-4e6f-90af-28676ea106a7",
      "name": "DevOps Pipeline execution"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"runID\": {{ $json.id }},\n  \"pipelineID\": {{ $json.pipeline.id }},\n  \"status\": \"In progress\",\n  \"answer\": \"The execution of your request is in progress. I will update you upon completion.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -272
      ],
      "id": "bef6a4c7-0043-44d5-93ca-a5bc41d0b519",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Entra Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entra Get Access Token": {
      "main": [
        [
          {
            "node": "DevOps Pipeline execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevOps Pipeline execution": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99948d8f-7bac-47e0-9395-449b2bf33a52",
  "meta": {
    "instanceId": "2905781eaaed09b34ad7671f9b0a421a341a76a1ec3f9cd95a5aa14e665aca53"
  },
  "id": "NxVxOOwS00dc2iW4",
  "tags": []
}