Workflows/Sub-UpdAppReg.json
{
  "name": "Sub-UpdAppReg",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{  \n    \"AppRegistrationName\": \"\", \n    \"AppRegistrationClientId\": \"\",\n    \"RedirectCreate\": \"\",\n    \"RedirectType\": \"\",  \n    \"RedirectURI\": \"\",  \n    \"EnableApiPermission\": \"\",  \n    \"EnableAdminConsent\": \"\",  \n    \"enableGroupAssignment\": false,  \n    \"GroupAssignment\": \"\",  \n    \"UserAssignment\": \"\",\n    \"RemoveAssignment\": false,\n    \"RemoveAssignmentType\": \"\",\n    \"RemoveUserAssignment\": \"\",\n    \"Functionality\": \"\",  \n    \"Owner\": \"\",  \n    \"Workload\": \"\",  \n    \"Team\": \"\",  \n    \"ITOwner\": \"\",  \n    \"TenantName\": \"\",  \n    \"enableSecretCreation\": \"\",  \n    \"secretName\": \"\",\n    \"SubscriptionID\": \"\",  \n    \"ResourceGroupName\": \"\",  \n    \"KeyVaultName\": \"\"  \n  }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1712,
        -352
      ],
      "id": "1fe7d289-0c60-4ee3-914b-c3d8cf34b0f7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://login.microsoftonline.com/ce73e05e-1b4e-4df3-b69c-705b18aaeefe/oauth2/v2.0/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "dd76c3e3-42e9-4325-8e3f-04bf031a5a74"
            },
            {
              "name": "client_secret",
              "value": "OUR8Q~fv9OTV-jlXghk3p5na7Fr3iJVqZK-ZDaK9"
            },
            {
              "name": "scope",
              "value": "499b84ac-1321-427f-aa17-267ca6975798/.default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        -352
      ],
      "id": "cbe6c698-4bb9-4e05-ba08-f00770da144f",
      "name": "Entra Get Access Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.azure.com/ppcsa/PPC%20-%20Automations/_apis/pipelines/2840/runs?api-version=7.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"resources\": {\n        \"repositories\": {\n            \"self\": {\n                \"refName\": \"refs/heads/update-app-registration\"\n            }\n        }\n    },\n    \"templateParameters\": {\n    \"AppRegistrationName\": \"{{ $('When Executed by Another Workflow').item.json.AppRegistrationName }}\",\n    \"AppRegistrationClientId\": \"{{ $('When Executed by Another Workflow').item.json.AppRegistrationClientId }}\",\n    \"RedirectCreate\": \"{{ $('When Executed by Another Workflow').item.json.RedirectCreate }}\",\n    \"RedirectType\": \"{{ $('When Executed by Another Workflow').item.json.RedirectType }}\",  \n    \"RedirectURI\": \"{{ $('When Executed by Another Workflow').item.json.RedirectURI }}\",  \n    \"EnableApiPermission\": \"{{ $('When Executed by Another Workflow').item.json.EnableApiPermission }}\",  \n    \"EnableAdminConsent\": \"{{ $('When Executed by Another Workflow').item.json.EnableAdminConsent }}\",  \n    \"enableGroupAssignment\": \"{{ $('When Executed by Another Workflow').item.json.enableGroupAssignment }}\",  \n    \"GroupAssignment\": \"{{ $('When Executed by Another Workflow').item.json.GroupAssignment }}\",  \n    \"UserAssignment\": \"{{ $('When Executed by Another Workflow').item.json.UserAssignment }}\",\n    \"RemoveAssignment\": \"{{ $('When Executed by Another Workflow').item.json.RemoveAssignment }}\",\n    \"RemoveAssignmentType\": \"{{ $('When Executed by Another Workflow').item.json.RemoveAssignmentType }}\",\n    \"RemoveUserAssignment\": \"{{ $('When Executed by Another Workflow').item.json.RemoveUserAssignment }}\",\n    \"Functionality\": \"{{ $('When Executed by Another Workflow').item.json.Functionality }}\",  \n    \"Owner\": \"{{ $('When Executed by Another Workflow').item.json.Owner }}\",  \n    \"Workload\": \"{{ $('When Executed by Another Workflow').item.json.Workload }}\",  \n    \"Team\": \"{{ $('When Executed by Another Workflow').item.json.Team }}\",  \n    \"ITOwner\": \"{{ $('When Executed by Another Workflow').item.json.ITOwner }}\",  \n    \"TenantName\": \"{{ $('When Executed by Another Workflow').item.json.TenantName }}\",\n    \"enableSecretCreation\": \"{{ $('When Executed by Another Workflow').item.json.enableSecretCreation }}\",\n    \"secretName\": \"{{ $('When Executed by Another Workflow').item.json.secretName }}\",  \n    \"SubscriptionID\": \"{{ $('When Executed by Another Workflow').item.json.SubscriptionID }}\",  \n    \"ResourceGroupName\": \"{{ $('When Executed by Another Workflow').item.json.ResourceGroupName }}\",  \n    \"KeyVaultName\":  \"{{ $('When Executed by Another Workflow').item.json.KeyVaultName }}\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        -352
      ],
      "id": "94d5cf83-e082-4c18-b5ff-64964f2f9175",
      "name": "DevOps Pipeline execution"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"runID\": {{ $json.id }},\n  \"pipelineID\": {{ $json.pipeline.id }},\n  \"status\": \"In progress\",\n  \"answer\": \"The execution of your request is in progress. I will update you upon completion.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        -352
      ],
      "id": "1079d463-fc4f-4494-a4c4-5af4fdf45ba7",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Entra Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entra Get Access Token": {
      "main": [
        [
          {
            "node": "DevOps Pipeline execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevOps Pipeline execution": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e2718a61-a575-4794-81f1-e4413d3e870c",
  "meta": {
    "instanceId": "2905781eaaed09b34ad7671f9b0a421a341a76a1ec3f9cd95a5aa14e665aca53"
  },
  "id": "vRPzbjIHfca6MxiX",
  "tags": []
}